<!DOCTYPE html>
<html>
<head>
    <title>Chromatic with Flask</title>
    <style>
        {{ button_css }}
        {{ heading_css }}
        {{ paragraph_css }}
        {{ link_css }}
    </style>
</head>
<body>
    <button class="button">Click me</button>

    <h1 class="heading">This is a heading</h1>

    <p class="paragraph">This is a paragraph of text. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

    <a href="#" class="link">This is a link</a>
</body>
</html>